@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #0E1421;
  --bg-color: #060C1A;
  --text-color: #ffffff;
}

.app-container {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.search-input {
  background: var(--primary-color);
  outline: none;
  color: white;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  height: 45px;
  border-radius: 30px;
  padding-left: 50px;
}

.search-input::placeholder {
  color: #777;
}

.search-icon {
  left: 16px;
}

.weather-card {
  background: var(--primary-color);
}

.weather-card span {
  background-color: #742BEC;
}

.weather-card .card-btn {
  padding: 3px 20px;
  border-radius: 20px;
  outline: none;
  outline: none;
  background: #060C1A;
  color: #ffffff;
  position: relative;
}

.weather-card .display-4 {
  font-weight: 500;
}

.weather-card .card-btn {
  padding: 3px 20px;
  border-radius: 20px;
  outline: none;
  outline: none;
  background: #060C1A;
  color: #ffffff;
  position: relative;

}

.weather-card {
  .left-btn {
    position: relative;
    z-index: 2;
  }

  .right-btn {
    position: relative;
    margin-left: -22px;
    z-index: 1;
    padding: 4px 24px;
  }

}

.weather-card img {
  width: 120px;
}

.highlight {
  background: radial-gradient(circle, #1a2a48 0%, #0d162d 100%);
  padding: 20px;
}

.highlight-card {
  background: #131E37;
  height: 100%;
}

.highlight .highlight-card {
  background-color: var(--primary-color);
  padding: 20px;

}

.highlight-card img {
  width: 110px;
}